@import '../../styles/variables';

.navbar {
  background: rgba($jaguar, 0.4);
  padding: 1rem;
  text-transform: uppercase;
  transition: all .2s linear;

  @include sm-screens {
    padding: 1.25rem 1rem;
  }

  &.menu-open,
  &.is-scrolled {
    background: rgba($jaguar, 1);
  }

  &.is-scrolled {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  #{&}-brand {
    color: $white;

    &:hover, &:focus {
      color: $yellow;
    }
  }

  #{&}-nav {
    align-items: center;

    .nav-link {
      color: $white;
      letter-spacing: 1px;
      padding: 1rem;
      transition: all 0.2s;
      font-weight: 600;
      
      &:last-of-type {
        margin-right: 1rem;
      }    

      &:hover, &:focus {
        color: $yellow;
      }
    }
  }
}