@import '../../styles/variables';

$jumbotronHeight: 100vh;
$jumbotronMaxHeight: 700px;
$slashWidth: 100px;
$slashSkew: 15deg;

.jumbotron {
  color: $white;
  height: $jumbotronHeight;
  padding-top: 100px;
  max-height: $jumbotronMaxHeight;
  position: relative;
  overflow: hidden;
  text-align: center;

  @include md-screens {
    text-align: left;
  }

  #{&}-container {
    display: flex;
    height: 100%;

    &::before {
      content: "";
      @include absolute-container;
      background-color: rgba($black,.4);
    }
  }

  .has-background {
    @include absolute-container;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
  .slash-container {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50%;
    width: 100%;

    @include md-screens {
      overflow: hidden;
      height: 100%;
      width: 67%;
      right: -10%;
      bottom: auto;
      top: 0;
      transform: skew(-$slashSkew);
    }

    .rider-background {
      background-position: left;

      @include md-screens {
      transform: skew($slashSkew);
      width: 110%;
      right: 10%;
      }
    }
  }
}

.right-col {
  text-align: center;
  button + button {
    margin-left: 1rem;
  }
}
