@import 'styles/variables';

.countdown {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;

    @include sm-screens {
      padding: 0 3rem;
    }
  
    small {
      display: block;
      @include mobile-screens {
        font-size: 70%;
      }
    }
  }